APP_NAME=LeadForgeAI
APP_VERSION=0.1.0
ENVIRONMENT=development

HOST=0.0.0.0
PORT=8000

MONGODB_URI=mongodb://mongodb:27017
DATABASE_NAME=leadforge

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=CHANGE_ME
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60